body {
    /*background-color: #567DBB;*/
    background: linear-gradient(#7a8bb3, #64749a);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

h1 {
    color: #B4BBC9;
    font-family: albertSans;
    font-weight: bold;
    font-size: 32px;
    margin: auto;
    margin-left: 8px;
    text-align: center;
}

p {
    color: #262e39;
    font-family: albertSans;
}

.header {
    border-style: none;
    border-color: #7F96FF;
    margin-bottom: 16px;
    font-family: albertSans;
    display: flex;
    border-radius: 8px;
    /*background-color: #B2EFFF;*/
    background-image: linear-gradient(to right, #455271, #58678a);
    /*position:fixed;*/
}

.header .header-links {
    /*align: right;*/
    font-size: 18px;
    margin: auto;
    margin-right: 8px;
    flex: auto;
}

.header .headerbtn {
    padding: 6px 6px;
    border-style: solid;
    border: 2px;
    border-radius: 8px;
    color: #374252;
    background-color: #7a8bb3;
    text-decoration: none;
}

.logo-img {
    margin: auto;
    margin-left: 8px;
}

.main-page {
    border-style: dotted;
    text-align: center;
    flex: 1;
}

.normal-text {
    text-align: left;
    margin: 8px;
}

.footer {
    font-size: 12px;
    text-align: center;
    border-style: solid;
    margin-top: 8px;
    width: 100%;
}

table {
    border-collapse: collapse;
    width: 90%;
    margin: 0px auto;
    padding: 12px;
    font-family: albertSans;
    font-size: 18px;
}

th, td {
    border: 1px solid #9caeff;
    padding: 8px;
    text-align: center;
}

tr {
    border-bottom: 1px solid #8097ff;
}

.return-text {
    text-align: left;
    margin: 12px;
    font-family: albertSans;
    font-size: 18px;
}

.table-button {
    padding: 6px 6px;
    border-style: solid;
    border: 2px;
    border-radius: 8px;
    color: #374252;
    background-color: #b1c8ff;
    text-decoration: none;
    height: 100%;
    width: 100%;
}

@font-face {
    font-family: albertSans;
    src: url("../fonts/Albert_Sans/static/AlbertSans-Regular.ttf");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: albertSans;
    src: url("../fonts/Albert_Sans/static/AlbertSans-Bold.ttf");
    font-weight: bold;
    font-style: normal;
}
