body {
  	background-color: #567DBB;
	border-radius:8px;
}

h1 {
  	color: #006DFF;
	font-family: albertSans;
	font-weight: bold;
	font-size: 32px;
	margin-left: 12px;
	
}

p {
  	color: #000071;
	font-family: albertSans;
}

.header	{
	border-style: none;
	border-color: #7F96FF;
	margin-bottom: 64px;
	font-family: albertSans;
	display: flex;
	border-radius:8px;
	/*background-color: #B2EFFF;*/
	background-image:linear-gradient(to right, #00F0FF, #F1BBFF);
	/*position:fixed;*/
}

.main-page	{
	border-style: dotted;
	text-align: center;
}

.header .header-links	{
	/*align: right;*/
	font-size: 18px;
	margin-top: 10px;
	margin-right: 12px;
	flex: auto;
	
}


@font-face {
	font-family: albertSans;
	src: url("../fonts/Albert_Sans/static/AlbertSans-Regular.ttf");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	  font-family: albertSans;
	  src: url("../fonts/Albert_Sans/static/AlbertSans-Bold.ttf");
	  font-weight: bold;
	  font-style: normal;
}
